apiVersion: 1

datasources:
  - name: ClickHouse
    type: grafana-clickhouse-datasource
    uid: clickhouse
    url: http://clickhouse:8123
    jsonData:
      defaultDatabase: ollystack
      port: 9000
      server: clickhouse
      username: default
      tlsSkipVerify: true
    secureJsonData:
      password: ${CLICKHOUSE_PASSWORD:-changeme}
    isDefault: true
    editable: true

  - name: Prometheus
    type: prometheus
    uid: prometheus
    url: http://otel-collector:8889
    isDefault: false
    editable: true
